.card{
  background-color: rgb(196, 206, 226);
  max-width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  display: inline-block;  
  margin: 10px;          
  
  
}

.card img{
  width: 200px;
}

button{
  background-color: brown;
  color: #fff;
  border-radius: 5px;
  padding: 4px;
  width: 80px;
}